/* div {
    height: 100px;
    width: 50px;
    background-color: red;
    transition-property: height, width;
    transition-duration: 100000ms;
}

div:hover {
    width: 100vw;
} */

.star-container {
    display: inline-block;
    font-size: 24px;
    /* Adjust as needed */
}

.star {
    display: inline-block;
    width: 1em;
    /* Adjust the size of the star */
    height: 1em;
    /* Adjust the size of the star */
    overflow: hidden;
    position: relative;
}

.star::before {
    content: '\2605';
    /* Unicode for star symbol */
    font-size: inherit;
}

.star-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: gold;
    /* Adjust color to match your design */
}